{
	"data": {
		"systempassword": "",
		"edition": "cloud",
		"memory": 16,
		"vcpu": 1,
		"additionalWorkers": 0,
		"whitelistIPs": [],
		"extensionservices": [
			{
				"name": "ConnectivityProxy",
				"enabled": true,
				"whitelistIPs": [
					"0.0.0.0/0"
				]
			}
		],
		"enabledservices": {
			"scriptserver": false,
			"docstore": false,
			"dpserver": false
		},
		"storage": 80,
		"availabilityZonePlacement": {
			"primaryAvailabilityZone": "",
			"highAvailabilityCrossMultiAZEnabled": false
		},
		"productVersion": {
			"releaseCycle": "generally-available-quarterly",
			"track": "2024.2"
		}
	},
	"metadata": {
		"ui.hc.sap.com/description": ""
	}
}
