{
	"data": {
		"coordinator_type": "small",
		"num_coordinators": 1,
		"num_readers": 0,
		"num_writers": 1,
		"provisioned_size_gib": 256,
		"reader_type": "small",
		"writer_type": "small",
		"serviceStopped": false,
		"whitelistIPs": [
			"0.0.0.0/0"
		],
		"systempassword": "",
		"initOptions": {
			"collation": "CESU8BIN",
			"caseSensitivity": "respect",
			"ncharCollation": "UTF8BIN",
			"blankPadding": "OFF"
		},
		"enableBackups": false,
		"storage_service_provider": "efs",
		"storage_service_tier": "",
		"highAvailability": {
			"enabled": false
		}
	},
	"metadata": {
		"ui.hc.sap.com/description": ""
	}
}
